<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="DbBankaEntities" connectionString="metadata=res://*/Entity.Model1.csdl|res://*/Entity.Model1.ssdl|res://*/Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-GML3BQ0N\SQLEXPRESS2;initial catalog=DbBanka;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="DbBankaEntities1" connectionString="metadata=res://*/Entity.Model1.csdl|res://*/Entity.Model1.ssdl|res://*/Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-GML3BQ0N\SQLEXPRESS2;initial catalog=DbBanka;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="_200202061_200202062_BankaOtomasyonu.Properties.Settings.DbBankaConnectionString"
        connectionString="Data Source=LAPTOP-GML3BQ0N\SQLEXPRESS2;Initial Catalog=DbBanka;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings></configuration>